<a href="https://colab.research.google.com/github/Mann822/Praktikum-basis-data/blob/main/Praktikum1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:



ðŸ“˜ RANGKUMAN BAB 1 â€“ Konversi ER Diagram ke Skema Relasi (Versi Panjang & Jelas)

Bab 1 membahas tentang bagaimana cara mengubah ERD (Entity Relationship Diagram) menjadi skema relasi, lalu akhirnya menjadi tabel nyata di dalam database MySQL.

Ini penting karena ERD hanyalah desain, sedangkan tabel adalah bentuk nyata dalam database.


---

ðŸ”¹ 1. Konsep Dasar yang Harus Dipahami

1. Entitas

Entitas adalah objek nyata yang datanya ingin kita simpan.

Contoh: Mahasiswa, Buku, Pegawai, Pesanan, Obat.

Dalam database â†’ entitas akan berubah menjadi tabel.


2. Atribut

Atribut adalah data atau ciri-ciri dari entitas.

Contoh atribut pada Mahasiswa:

NIM

Nama

Alamat

Tanggal Lahir


Dalam tabel â†’ atribut menjadi kolom.


3. Primary Key (PK)

Yaitu kolom yang NILAINYA unik dan tidak boleh sama.

Digunakan untuk membedakan tiap baris data.

Contoh: NIM mahasiswa, ID pegawai.


4. Foreign Key (FK)

Kolom yang menghubungkan satu tabel dengan tabel lain.

Digunakan untuk menunjukkan relasi antar tabel.

Foreign Key selalu menunjuk ke PK tabel lain.


5. Relasi

Relasi adalah hubungan antar entitas.

Bentuk relasi:

1 ke 1

1 ke banyak

banyak ke banyak




---

ðŸ”¹ 2. Aturan Konversi ERD ke Tabel

Bab 1 menjelaskan aturan konversi, karena tidak semua komponen ERD bisa langsung dijadikan tabel secara langsung.

Berikut ringkasannya:


---

1. Entitas Kuat â†’ Jadi 1 Tabel

Contoh:

Karyawan (nip, nama, alamat, tgl_lahir)

Menjadi tabel: | Nip (PK) | Nama | Alamat | Tgl_lahir |


---

2. Atribut Komposit â†’ Dipecah

Atribut komposit = atribut yang terdiri dari beberapa bagian.

Contoh: Alamat = Jalan, Kota, Provinsi, Kode Pos

Maka tabel karyawan akan memiliki kolom:

jalan

kota

provinsi

kode_pos



---

3. Atribut Multivalue â†’ Jadi Tabel Baru

Jika 1 orang punya banyak nilai untuk atribut yang sama.

Contoh: Karyawan memiliki banyak hobi.

Maka:

Tabel Karyawan

Tabel Hobby_Karyawan (nip, hobby)


FK: nip


---

4. Atribut Turunan

Contoh: umur â†’ dihitung dari tanggal lahir.

Boleh menjadi kolom, tapi biasanya dihitung otomatis.


---

5. Entitas Lemah â†’ Jadi 2 Tabel

Entitas lemah tidak punya PK sendiri tanpa entitas lain.

Contoh: Tanggungan (anak, istri) dari Karyawan.

Maka tabel:

Tanggungan (nip (FK), nama_tanggungan, hubungan)


---

6. Relasi 1 ke 1 (One to One)

Foreign key diletakkan pada salah satu tabel yang paling tepat.

Contoh: 1 pegawai memiliki 1 kartu identitas.


---

7. Relasi 1 ke Banyak (One to Many)

FK diletakkan pada tabel yang banyak.

Contoh: 1 Karyawan â†’ banyak Peminjaman.

Tabel Peminjaman menyimpan:

nip (FK)



---

8. Relasi Banyak ke Banyak (Many to Many)

Selalu menghasilkan tabel baru.

Contoh: Buku â€” dipinjam â†’ Peminjaman

Tabel baru:

Detail_Peminjaman (kd_peminjaman, kd_buku, lama_pinjam)


---

9. Relasi Ternary (melibatkan 3 entitas)

Selalu menghasilkan 4 tabel:

Tabel A

Tabel B

Tabel C

Tabel relasi gabungan



---

10. Generalisasi / Spesialisasi (ISA)

Contoh: Pasien â†’ Pasien BPJS & Pasien Non BPJS

Superclass (Pasien) â†’ tabel
Subclass â†’ tabel baru berisi PK dari superclass.

Contoh tabel:

PASIEN (id, nama, alamat)

PASIEN_BPJS (id, nik_bpjs, jenis_bpjs)

PASIEN_NON_BPJS (id, faskes)



---

ðŸ”¹ 3. Studi Kasus Apotik

ERD Apotik terdiri dari tabel:

Pasien

Obat

Resep

Pembayaran

Pegawai

Kategori_Obat

Detail_Obat

Retur


Total tabel = 13 tabel

Semua ini dikonversikan mengikuti aturan konversi di atas.


---



Dengan memahami kedua bab ini, kamu sudah bisa:

mendesain database dari ERD

membuat database di MySQL

mengoperasikan perintah dasar dalam database



---